target/classes
generated-sources/
maven-archiver/
maven-status/
rabbitmq-spring-1.0-SNAPSHOT/
*.class

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

